/*
	Name: Babelium Project
	Description: Main CSS file for babelium style
	Version: 1.0
*/

/* Imports */
@import url("reset.css");	/* resets browsers default style */
@import url("layout.css");	/* base layout */
@import url("mxml.css");	/* flex bindings */
@import url("forms.css");
@import url("resources.css");	/* flex bindings */