/*
 * DEFAULT
 */

body
{
	font-family: Arial, Verdana;
	font-size: 12px;
	min-width: 580px;
}

a, a:active, a:visited
{
	text-decoration: none;
	color:#2d89a4;
}

a:hover 
{
	text-decoration: underline;
	color: #666;
}

/*
 * TOP NAVIGATION
 */

nav#topnav
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px solid #38babc;
	
	/** Default background **/
	background-color: #FEFEFE;
	background-image: url(../images/rainbow_bgr.png);
	
	/** Gradient for mozilla and webkit powered **/
	background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E2EFF3));
	background: -moz-linear-gradient(top, white, #E2EFF3);	
}

a.yellow, a.yellow:active, a.yellow:visited
{
	color: #cc9900;
}

a.orange, a.orange:active, a.orange:visited
{
	color: #df5c02;
}

#useron
{
	display: none;
}

/*
 * MAIN NAVIGATION
 */

nav#mainnav
{
	/** Default background **/
	background-color: #FEFEFE;
	background-image: url(../images/rainbow_bgr.png);
	font-size: 18px;
}

	nav#mainnav > ul > li
	{
		background: url(../images/separator.png) no-repeat center right;	
	}

		nav#mainnav > ul > li:last-child
		{
			background-image: none;	
		}
		
		nav#mainnav > ul > li > a
		{
			cursor: pointer;
		}

		nav#mainnav > ul > li > a.home
		{
			color: #258daa;
		}

		nav#mainnav > ul > li > a.pract
		{
			color: #38bcbe;
		}

		nav#mainnav > ul > li > a.eval
		{
			color: #7b980a;
		}

		nav#mainnav > ul > li > a.subt
		{
			color: #962b07;
		}
		
		nav#mainnav > ul > li > a.config
		{
			color: #de5c04;
		}
		
		nav#mainnav > ul > li > a.about
		{
			color: #e6ce56;
		}
		
		nav#mainnav > ul > li > a:hover
		{
			text-decoration: none;
			text-shadow: 1px 1px 1px rgba(0,0,0,.2);	
		}

/*
 * SEARCH BAR
 */

div#searchnav
{
	/** Default background **/
	background-color: #FEFEFE;
	
	/** Gradient for mozilla and webkit powered **/
	background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(#86BCCE));
	background: -moz-linear-gradient(left, white, #86BCCE);
	
	/** rounded border **/
	-moz-border-top-right-radius: 6px; 
	-webkit-border-top-right-radius: 6px; 
	border-top-right-radius:6px;
	-moz-border-bottom-right-radius: 6px; 
	-webkit-border-bottom-right-radius: 6px; 
	border-bottom-right-radius:6px;
	
	/** border **/
	border-bottom: 1px solid #38babc;
	border-top: 1px solid #38babc;
	
	/** box shadow **/ 
	-moz-box-shadow: -4px 4px 4px #999;
	-webkit-box-shadow: -4px 4px 4px #999;
	box-shadow: -4px 4px 4px #999;	
}

/*
 * MOTD
 */
aside#motd
{
	resize: vertical;
}

	aside#motd > ul#motdmessages
	{
		background: url(../images/pattern2.png);
	}

	aside#motd > div#motdhelper, section#maincontent > header > div#hhelper
	{
		background-color: #E2EFF3;
		border: 1px solid #38babc;
	}

/*
 * MAIN SECTION
 */
 
 section#maincontent > header
 {
 	background: url(../images/pattern2.png);
 }
	 section#maincontent > header > h1 
	 {
	 	font-weight: bold;
		font-size: 24px;
		color: #972c0a;
	 }

/*
 * TABS
 */

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}
ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs li.active {
  background: blue;
}
ul.tabs li.active a {
  color: white;
}

p.abTitle {
	font-size: 20px;
	color: orange;
	font-weight: bold;
}

.separator{
	height:1px;
	background:#717171;
	border-bottom:1px solid #313030;
}

.exercise{
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
}

.exerciseDescription{
	width: 70%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.videosDiv{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}