<section class='exerciseInfo'>
<p><h2 style='text-align:center' id='babelium-exercise-title'></h2></p>
<article>
<div class='no-overflow' style='padding-left:30%'>
<object type='application/x-shockwave-flash' id='babeliumPlayer' name='babeliumPlayer' align='middle' data='http://babeliumproject.com/babeliumPlayer.swf' width='400' height='380' style='height: 332px; width: 600px;'>
<param name='quality' value='high'>
<param name='bgcolor' value='#000000'>
<param name='allowscriptaccess' value='always'>
<param name='allowfullscreen' value='true'>
<param name='wmode' value='window'>
<param name='flashvars' value='locale=es&amp;forcertmpt=1&amp;jsCallbackObj='>
</object>
</div>
</article>
<article id='exerciseInfo' class='evaluation aligned'>
<p><h2>Rate the user's response</h2></p>
<p><h4>All criteria are optional except Overall score:</h4></p>
<form action='/php/uploadEvaluation.php' method='POST'>
<label>Accuracy</label><div id='rateAcc'></div><br>
<label>Adequacy</label><div id='rateAdequacy'></div><br>
<label>Comprehensibility</label><div id='rateComprehen'></div><br>
<label>Fluency</label><div id='rateFluency'></div><br>
<label>Intonation</label><div id='rateIntonation'></div><br>
<label>Pronunciation</label><div id='ratePronunciation'></div><br>
<label>Range</label><div id='rateRange'></div><br>
<label>Rhythm</label><div id='rateRhythm'></div><br>
<label>Spontaneity</label><div id='rateSpontaneity'></div><br>
<label>Overall score</label><div id='rateIntonation'></div><br>
<input name='comment' id='txtComCheck' type='radio'><label>Include a text comment</label><br>
<div id='txtComDiv' style='display:none'><textarea id='txtCom'></textarea></div>
<input name='comment' id='vidComCheck' type='radio'><label>Include a video comment</label><br>
<div id='vidComDiv' style='display:none'>
<object type='application/x-shockwave-flash' id='commentRecord' name='commentRecord' align='middle' data='http://babeliumproject.com/babeliumPlayer.swf' width='400' height='380' style='height: 332px; width: 500px;'>
<param name='quality' value='high'>
<param name='bgcolor' value='#000000'>
<param name='allowscriptaccess' value='always'>
<param name='allowfullscreen' value='true'>
<param name='wmode' value='window'>
<param name='flashvars' value='locale=es&amp;forcertmpt=1&amp;jsCallbackObj='>
</object>
</div>
<div style='text-align:center' id='evButtons'><input type='submit' value='Submit'><input type='reset' value='Reset''><br></div>
</form></article>
</section>