<div class='helpBtn'>
<button id='help1'>1</button><button id='help2'>2</button><button id='help3'>3</button><button id='help4'>4</button>
<% if (page == 1) { %>
<div><h3>How to configure your video/audio devices</h3>
<video width='320' height='240' controls>
<source src='movie.mp4' type='video/mp4'>
Your browser does not support the video tag.</video></div>
<% } else { if(page == 2){ %>
<div><h3>How to practice a language</h3>
<video width='320' height='240' controls>
<source src='movie.mp4' type='video/mp4'>
Your browser does not support the video tag.</video></div>
<% } else { if(page == 3){ %>
<div><h3>How to evaluate the work of other users</h3>
<video width='320' height='240' controls>
<source src='movie.mp4' type='video/mp4'>
Your browser does not support the video tag.</video></div>
<% } else { if(page == 4){ %>
<div><h3>How to subtitle a video</h3>
<video width='320' height='240' controls>
<source src='movie.mp4' type='video/mp4'>
Your browser does not support the video tag.</video></div>
<% }}}} %></div>