<aside id="motd">
<div class="hhelper"></div>
					<div class="HBox" style="margin-left: 15%;margin-top:1%;">
						<div class="HBox vstart" style="margin-right: 10%">
							<iframe width="300" height="200" src="https://www.youtube.com/embed/FI2R2iXS5HQ"></iframe>
						</div>
						<div class="VBox motdContent" style="margin-right: 15px;">
							<span class="title">Welcome to Babelium</span>
							<p>Babelium is a community of people who like to learn & teach languages.<br><br>
Babelium is a collaborative language practising environment. Here you'll be able to improve your speaking skills with the help of other users, who are native or fluent in the language you're practising, whilst you too can help other users providing knowledge & assessment of your own mother tongue.<br><br>
All you need to do is record or find a video clip you think could be an interesting platform from which to practice a language & upload it. You can also dub exercises which other users have uploaded. It is also possible to assess the work of other users & to be assessed yourself.</p>
						</div>
					</div>

			
			<div class="hhelper"></div>
		</aside>