<section class='exerciseInfo'>
<p><h2 id='babelium-exercise-title'></h2></p>
<article>
<div class='no-overflow'>
<object type='application/x-shockwave-flash' id='babeliumPlayer' name='babeliumPlayer' align='middle' data='http://babeliumproject.com/babeliumPlayer.swf' width='640' height='380' style='height: 332px; width: 500px;'>
<param name='quality' value='high'>
<param name='bgcolor' value='#000000'>
<param name='allowscriptaccess' value='always'>
<param name='allowfullscreen' value='true'>
<param name='wmode' value='window'>
<param name='flashvars' value='locale=es&amp;forcertmpt=1&amp;jsCallbackObj='>
</object>
</div>
</article>
<article id='recordingEndOptions' class='recordingEndOptions'>
<label>Available actions:</label><br/>
<button id='publish' disabled>//onClick='new ExerciseEvent(ExerciseEvent.SAVE_RESPONSE).dispatch();'
<img src='themes/babelium/images/eo_save_response.png' width='48' height='48' />
<span>Publish response</span>
</button><br/>
<button id='watch' disabled> //onClick='new ExerciseEvent(ExerciseEvent.WATCH_RESPONSE).dispatch();'
<img src='themes/babelium/images/eo_watch_sim.png' width='48' height='48' />
<span>Watch response</span>
</button><br/>
<button id='reRecord' disabled> //onClick='new ExerciseEvent(ExerciseEvent.RECORD_AGAIN).dispatch();'
<img src='themes/babelium/images/button_rec.png' width='48' height='48' />
<span>Record again</span>
</button><br/>
<button id='discard'> //onClick='new ExerciseEvent(ExerciseEvent.RECORDING_ABORTED).dispatch();'
<img src='themes/babelium/images/button_abort.png' width='48' height='48' />
<span>Discard response</span>
</button>
</article>
<article id='exerciseInfo' class='exerciseInfo aligned'>
<form name=mform1>
<label>Choose a role: </label>
<select id='recordedRole'>
</select><br>
<label>Choose a language:</label>
<select id='recLocale'>
</select><br>
<label>Choose a recording method:</label>
<div class='recordmethod'>
<input type='radio' id='checkM' name='recordingMethod' value='micOnly' checked>Only microphone</input><br/>
<input type='radio' id='checkCM' name='recordingMethod' value='micCam'>Camera and microphone</input>
</div>
<a id='id_startStopRecordingBtn' alt='Record'>
<img src='themes/babelium/images/button_rec.png' class='recordButton' alt='Record!' border='0' width='49' height='49' align='right' />
</a>
</article>
<article class='videoInfo'>
<div class='topbar HBox'>
<div class='ratyPreview' data-rating='7.5324545454545' data-readonly='true' id='raty-video-preview'></div>
<div class='spacer'></div>
<div style='margin-right: 3px'><img src='themes/babelium/images/shield_icon.png' width='20' height='21' alt='Report' align='left'/></div>
<div><a href='javascript:void(0);' class='yellow'>Report
</a></div>
</div>
<div id='prTags' class='tag'></div>
</article>
</section>