<li><a href='#Help/page_1' class='img'><img src='themes/babelium/images/help_icon.png' alt='Help' width='17' height='17'/></a></li>
<li><a href='#Help/page_1' class='blue'>Help</a></li>
<li><a href='http://blog.babeliumproject.com/' style='color:blue'>Blog</a></li>
<li><a href='#Credit' class='yellow'>Credit: <%= creditCount %></a></li><img src='themes/babelium/images/coins_icon.png' alt='coins' width='19px' height='19px'>
<li><a href='#User_info' style='color:orange'><%= username %></a></li>
<li><a href='#Home' id='logoff'><img src='themes/babelium/images/close_icon.png' alt='log off' width='19px' height='19px'></a></li>